<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
</head>
<body>
    
    <form method="POST" action="send">

        <input type="text" name="name" placeholder="Enter your name" autocomplete="off" required>
        <input type="text" name="email" placeholder="Enter your email" autocomplete="off" required>
        <input type="text" name="message" placeholder="Type your message" autocomplete="off" required>

        <button id="contact" type="submit">Submit</button>

    </form>

    <script src="index.js"></script>
</body>
</html>