.icon.like {
  background: url("/src/images/thumb-icon.svg");
}
.icon.publish {
  background: url("/src/images/publish-icon.svg");
}
.icon.mobile {
  background: url("/src/images/phone-icon.svg");
}
.icon.code {
  background: url("/src/images/code-icon.svg");
}
.icon.flag {
  background: url("/src/images/flag-icon.svg");
}
.icon.search {
  background: url("/src/images/search-icon.svg");
}
